* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: pink;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 40px;
}

#navbar h2 {
    color: white;
    
    margin: 30px;
    padding: 10px 20px;
    background-color: rgba(61, 96, 56, 0.823);
    margin-right: 30%;
}

#navbar2 {
    background: rgb(225, 113, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 20px;
}

#navbar2 .cta-button {
    background-color: rgb(255, 255, 255);
    color: #b80808e1;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar2 h2 {
    color: white;
    border: 10px dotted rgb(255, 255, 255);
    border-radius: 10px;
    margin: 30px;
    padding: 0% 20px;
    background-color: transparent;
    margin-right: 30%;
    font-size: 40px;
}

#navbar3 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbar3 h1 {
    color: orangered;
    border-radius: 10px;
    margin: 30px;
    padding: 0% 20px;
    background-color: transparent;
    margin-right: 30%;
    font-size: 40px;
}

#navbar3 h2 {
    color: rgb(255, 69, 0);
}

#navbar-bottom2 {
    background: linear-gradient(
        to bottom, 
        rgb(95, 26, 2), 
        rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
}

#navbar-bottom2 a {
    text-decoration: none;
    color: rgb(85, 255, 0);
    padding: 12px 36px;
}

#navbar-bottom2 .cta-button2 {
    background-color: white;
    color: rgb(85, 255, 0);
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    min-width: 100px;
    text-align: center;
    margin-right: 24px;
}

#navbar-bottom2 h3 {
    color: white;
    border: 5px dashed rgb(198, 5, 198); 
    margin-left: 24px;
    padding: 9px;
}