* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    border: 20px solid lightcoral;
    border-radius: 100px;
    margin: 80px;
    padding: 50px 30px;
    background-color: peachpuff;
}

