@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=DM+Serif+Text:ital@0;1&family=Purple+Purse&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/wallpaper.jpeg");
}

#header {
    background-color: #541E20;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

#header a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 90px;
    font-family: "Purple Purse", serif;
    font-weight: bold;
    font-style: normal;
}

#header img {
    width: 200px;
}

#navbar {
    background-color: #9F8263;
    display: flex;
    justify-content: space-around;
    border: solid 3px black;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    font-weight: bold;
    font-size: 20px;
}

#hero {
    background-image: url("../images/hero.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    text-align: center;
    color: white;
    padding-top: 100px;
    font-family: "Purple Purse", serif;
    font-weight: bold;
    font-style: normal;
}

#hero h2 {
    font-size: 72px;
    margin-bottom: 36px;
}

#hero h4 {
    font-size: 24px;
    margin: 0px;
}

#hero a {
    font-size: 14px;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 12px;
    margin-left: 12px;
}

#centered-column {
    width: 90vw;
    max-width: 1200px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card {
    width: 350px;
    border: 3px solid #9F8263;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #7a634c;
    background-color: #9F8263;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: black solid 3px;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0px;
    font-family: "Purple Purse", serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.card h4 {
    text-align: center;
}

.card p {
    font-size: 18px;
    flex: 1;
    text-align: center;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #3A7E47;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid #3A7E47;
    transition: 
        background-color 0.5s,
        color 0.5s;

}

.card a:hover {
    background-color: transparent;
    color: #3A7E47;
}

.featured-card {
    width: 900px;
    border: 3px solid #9F8263;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #7a634c;
    background-color: #9F8263;
    display: flex;
    flex-direction: column;
}

.featured-header {
    background-color: #541E20;
    padding: 20px;
    border: black solid 3px;
    color: #e9cfb4;
    font-family: "Purple Purse", serif;
    font-weight: bold;
    font-style: normal;
}

.featured-header-2 h1 {
    background-color: #541E20;
    padding: 20px;
    border: black solid 3px;
    color: #e9cfb4;
    font-family: "Purple Purse", serif;
    font-weight: bold;
    font-style: normal;
}

.featured-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: black solid 3px;
}

.featured-card h2 {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0px;
    font-family: "Purple Purse", serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.featured-card h4 {
    text-align: center;
}

.featured-card p {
    font-size: 18px;
    flex: 1;
    text-align: center;
}

.featured-card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #3A7E47;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid #3A7E47;
    transition: 
        background-color 0.5s,
        color 0.5s;

}

.featured-card a:hover {
    background-color: transparent;
    color: #3A7E47;
}


#footer {
    background-color: #866d53;
    color: black;
    padding: 12px;
    font-size: 15px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}

@media screen and (max-width: 470px) {
    #header a {
        font-size: 20px;
    }

    #header img {
        width: 100px;
    }

    #navbar {
        flex-direction: column;
        text-align: center;
    }
}