* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/wallpaper1.jpeg");
}

#navbar {
    background-color: pink;
    display: flex;
    align-items: center;
    border-bottom: 4px solid rgb(94, 51, 1);
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 20px;
}

#navbar a:hover {
    background-color: rgb(243, 159, 173);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
}

#hero-5 {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}

#hero-5 h2 {
    background-color: whitesmoke;
    padding: 10px;
    opacity: 70%;
}

#hero-5 .hero-content {
    text-align: right;
    position: absolute;
    right: 10%;
    top: 5%;
}

#hero-5 h2 {
    font-size: 120px;
}

#hero-5 h4 {
    font-size: 48px;
}

#main {
    height: 100vh;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    background-color: rgb(94, 51, 1);
    border-radius: 24px;
    top: 50px;
    position: absolute;
    opacity: 0;
    visibility: visible;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-menu a:first-child {
    border-radius: 24px 24px 0px 0px;
}

.dropdown-menu a:last-child {
    border-radius: 0px 0px 24px 24px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: rgb(94, 51, 1);
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: rgba(219, 162, 96, 0.896);
}

.center-column {
    background-color: rgba(245, 245, 245, 0.826);
    width: 50%; 
    min-width: 500px;
    margin: 0px auto;
    padding: 40px;
    margin-top: 10%;
    text-align: center;
}

.center-column h1 {
    text-align: center;
    color: rgb(94, 51, 1);
    font-size: 50px;
}

.center-column p {
    text-align: center;
}

.center-column img {
    border: dotted 10px pink;
    padding: 10px;
    border-radius: 10%;
}

